$black: #06002B;
$offblack: #06002B;
$grey: #E4E4E4;
$offWhite: #ECFCF1;
$darkGrey: #C1BED4;
$green1: #002B0F;
$offgreen: #003613;
$green2: #007528;
$green3: #01A83A;
$green4: #03D74B;

button {
  border: none;
}

.button {
  background-color: $green2;
  border-radius: 16px;
  padding: 16px 32px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: box-shadow .25s ease, background-color .25s ease;
  cursor: pointer;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $offWhite;
  }

  &:hover {
    box-shadow: none;
    background-color: $green3;
  }
}