@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

$black: #06002B;
$offblack: #06002B;
$grey: #E4E4E4;
$darkGrey: #C1BED4;
$green1: #002B0F;
$offgreen: #003613;
$green2: #007528;
$green3: #01A83A;
$green4: #03D74B;

p, li{
  font-family: "Libre Baskerville";
}

h1, h2,h3,h4,h5,h6{
  color: $black;
  font-family: 'Fjalla One';
}

.btn{
  background-color: $green1;
  padding: 4px 8px;
  border-radius: 32px;
  cursor:pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
  &:hover{
    box-shadow:none;
    background-color: $offgreen;
  }
  &:active{
    background-color: $green2;
  }
  p{
    color: #fff;
  }
}

.nav-link {
  &:hover{
    color: $green3;
  }
}
.grey-line{
  width:100%;
  height: 1px;
  background-color: $darkGrey;
}

.mar-bottom-4{
  margin-bottom: 4px;
}
.mar-bottom-8{
  margin-bottom: 8px;
}

.mar-bottom-16{
  margin-bottom: 16px;
}

.mar-bottom-32{
  margin-bottom: 32px;
}

.mar-right-8{
  margin-right: 8px;
}

.mar-right-16{
  margin-right: 16px;
}

.flex{ 
  display:flex !important;
}

.green{
  color: $green4;
}

.flex-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.icon-sm{
  font-size:24px;
}

a{
  text-decoration: none;
  
  
}

.active-link{
  color: $green4;
  
}

.flex-wrap{
  flex-wrap: wrap;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

li{
  margin-left: 16px;
  margin-bottom: 8px;
}

p{
  
  line-height: 1.5;
}

.markdown{
  padding-bottom: 16px;
  p{
    margin-bottom: 8px;
  }

  li{
    font-size: 18px;
  }
}

.green-btn{
  border: 2px solid $green4;
  display: inline-block;
  border-radius: 32px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color .25s ease;
  
  h2, .green{
    color: $green4;
    transition: color .25s ease;
  }
  &:active {
    box-shadow: none;
  }

  &:hover {
    background-color: $green4;
    h2,.green{
      color: #fff;
    }
  }
}

.index{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: $green2;
  width:24px;
  height:24px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  h5{
    color: #fff;
  }
}